
.nav-list{
    margin:0;
    list-style:none;
    display: flex;
    align-items: center;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
            
    & ul{
        display: flex;
        padding-inline:0;
    }

}
li {
    position:relative;
    height:100%;
    padding-block: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-align:center;
}
.nav-list .active::before{
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 32px;
    flex-shrink: 0;
    background-color: #040404;
    bottom: 10%;
}
.nav-list li:hover{
    background-color: transparent;
}

.nav-list .nav-link{
    height:100%;
    display: flex;
    align-items: center;
    padding: 0.5em;
    text-decoration:none;
    color: #FFF;
    font-family: Inconsolata;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}